@model ICollection<CadastroVeiculos.Models.ProprietarioViewModel>
@{
    ViewData["Title"] = "Marca";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Proprietários</h2>
                <h5 class="text-white op-7 mb-2">Módulo de gerenciamento de Proprietários.</h5>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <button class="btn btn-white btn-border btn-round mr-2" onclick="location.href='@Url.Action("Create", "Proprietarios")'">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Novo Proprietário
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-12">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Documento</th>
                                        <th>Email</th>
                                        <th>Endereço</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var proprietario in Model)
                                    {
                                    <tr>
                                        <td>@proprietario.Id</td>
                                        <td>@proprietario.Nome</td>
                                        <td>@proprietario.Documento</td>
                                        <td>@proprietario.Email</td>
                                        <td>@proprietario.Endereco</td>
                                        <td>@proprietario.StatuDesc</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="Editar" class="btn btn-link btn-primary btn-lg" data-original-title="Editar" onclick="location.href='@Url.Action("Edit", "Proprietarios", new  { Id = proprietario.Id })'">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>